.bc{
  margin-top: 0 !important;
  padding: 0 !important;
  margin: 0;
  background: url('../src/assets/Cubes.png') no-repeat center center fixed;
  background-color: rgb(11  , 16, 27);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} 