.list{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    text-align: center;
    zoom: inherit;
    color: aliceblue;
    margin: auto 20px;
    overflow-wrap:break-word ;
}
.element{
    font-size: large;
    height:auto;
}
.serial{
    width: auto;
}
.longUrl{
    
    width: 50vw;
}
.shorturl{
    width: 30vb;
}
.longUrl:hover{
    overflow-y: hidden;
}
.heading{
    background-color: grey;
}
.list:hover{
}

.anchor{
    color: aliceblue;
}
@media  (width<1200px) {
    .LinkList{
        margin: 10vh auto;
    }
    .list{
        overflow-wrap:initial;
        overflow-x: scroll;
    }
    .element{
        overflow: scroll;
        border-radius: 0;
    }
}